@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montserrat-Medium;
  src: url('../public/assets/fonts/Montserrat-Medium.ttf');
}

.tooltip {
  --tooltip-color: #000;
  --tooltip-text-color: #FFF;
  --tooltip-font-family: Montserrat-Medium;
}